</main>
<% if (user) { %>
    <footer class="bd-footer bg-light py-5">
        <div class="container">
          <p class="text-muted">Welcome back to Mood Journal!</p>
        </div>
      </footer>
    <% } else { %>
        <footer class="bd-footer bg-light py-5">
            <div class="container">
              <p class="text-muted">New to Mood Journal? <a href="/auth/google">Sign up</a> to get started</a>.</p>
            </div>
          </footer>
      <% } %>
</body>
</html>

