</main>
<footer class="bd-footer py-4 py-md-5 mt-5 bg-light py-5">
    <div class="container">
      <p class="text-muted">New to Mood Journal? <a href="/auth/google">Sign up</a> to get started</a>.</p>
    </div>
  </footer>
</body>
</html>