<body>
  <h1>This is where a user see all journal entries</h1>
  <h2>They can click to edit an entry</h2>
  <% results.forEach(function(m) { %>
    <% if (user && user._id.equals(m.user)) { %>
  <table id="list">
    <thead>
      <tr>
        <th>Content</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= m.content %></td>
          <td><%= m.date.getMonth() %></td>
          <td><a href="/posts/<%= m._id %>/edit">DETAILS</a></td>
        </tr>
        <% } %>
      <% }); %>
      </tbody>
    </table>
</body>