<%- include('partials/header') %>

    <div>Date: <%= results.date %></div>
      <form id="add-review-form" method="POST" action="/posts/<%= results._id %>/edit?_methond=put">
        <label>Content:</label>
        <input name="content" > 
        <input type="submit" value="Submit">
      </form>
<%- include('partials/footer') %>