<%- include('partials/header') %>
<div class="px-4 py-5 text-center bg-light">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
    <h1 class="display-5 fw-bold">Let's make today a great day :)</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">We have only one mission: <br> to make you feel better each day.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/auth/google" class="btn btn-warning">Start Today's Journal</a>
        <a href="/auth/google" class="btn btn-outline-secondary">Login</a>
      </div>
    </div>
  </div>
  <div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center ">
        <h2 class="display-5">THE JOURNAL ROUTINE</h2>
        <p class="lead"><mark>Quick Guide</mark></p>
        <p class="lead">1. As soon as you wake up, write 3 things you are grateful
            for. Get specific.</p>
        <p class="lead">2. Next, write down a list of 3 actions you will take today
            that would make your day great.</p>
        <p class="lead">3. Write down a simple statement in the present tense that
            focuses on what you want to create in your life.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/auth/google" class="btn btn-warning">Start Today's Journal</a>
              </div>
      </div>
      <div class="col-lg-6 bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white text-center border rounded-3">
        <h1 class="display-2 fw-bold lh-1 mb-3 ">You only live once, but if you do it right, once is enough.</h1>
        <p class="lead">MAE WEST</p>
      </div>
    </div>
  </div>    

  
<%- include('partials/footer') %>

