<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Home page to <a href="/home">home</a></p> 
    <p>Post entry page to <a href="/posts">post</a> </p>
    <p>Show display page to <a href="/archives">archive</a> </p>
    <p>Log in page <a href="/login">login</a></p>
    
  </body>
</html>
