<%- include('partials/header') %>


    <h1><%= title %></h1>
    <p>Home page to show the user's journal details <a href="/home">home</a></p> 
    <p>Post NEW entry page to <a href="/posts">post</a> </p>
    
    <%- include('partials/footer') %>

