<%- include('partials/header') %>
<% if (user) { %>
<div class="col-lg-8 mx-auto p-3 py-md-5 bg-white">
  <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <span class="fs-4">Today's Journal Entry</span>
  </div>
  <form class="form-group" action="/posts/<%= posts.id %>" method="POST" autocomplete="off" >

  <p class="col-md-8">I am grateful for...</p>
  <input class="form-control form-control-lg" type="textarea" rows="3" name="grateful1" placeholder="1."><br>
  <input class="form-control form-control-lg" type="textarea" rows="3" name="grateful2" placeholder="2."><br>
  <input class="form-control form-control-lg" type="textarea" rows="3" name="grateful3" placeholder="3."><br>
  <!-- <p class="col-md-8">What would make today great?</p>
  <input class="form-control form-control-lg" type="textarea" rows="3" name="content" placeholder="1."><br>
  <input class="form-control form-control-lg" type="textarea" rows="3" placeholder="2."><br>
  <input class="form-control form-control-lg" type="textarea" rows="3" placeholder="3."><br> -->
  <button type="submit" class="btn btn-warning">Submit Journal Entry</button>
</form>
</div>
<% } else { %>
  <div class="col-lg-8 mx-auto p-3 py-md-5 bg-white">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/auth/google" class="btn btn-warning">Start Today's Journal</a>
      <a href="/auth/google" class="btn btn-outline-secondary">Login</a>
    </div>
  </div>
  <% } %>

<%- include('partials/footer') %>



