<%- include('partials/header') %>

<form action="/posts/<%= posts.id %>" method="POST" autocomplete="off" >
  <label>I am grateful for...</label><br>
  <input type="text" id="fname" name="content"><br>
  <button type="submit">Submit Journal Entry</button>

</form>



<%- include('partials/footer') %>
